<style>
  #container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    min-height: 100vh;
    justify-content: center;
    background-color: #171F34;
    padding: 1% 5%;
    color: white;
  }

  .childContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .circle{
    width: 40px;
    height: 40px;
    background-color: #3498db;
    border-radius: 50%;
  }


  #circles{
    display: flex;
  }

  .border-white{
    border: 1px solid white;
  }

  a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Keep the default text color */
  }

  a:hover {
    text-decoration: underline; /* Add underline on hover */
    color: white; /* Change text color to white on hover */
  }
</style>

<div id="container">
  <div class="childContainer">
    <div class="border-white" id="viewPatients" style="display: flex; align-items: center ; justify-content: space-around">
      <div id="circles">
        <div style="z-index: 50; background-color: #e63946" class="circle"></div>
        <div style="z-index: 60; translate: -5px; background-color: #f1faee" class="circle"></div>
        <div style="z-index: 70; translate: -10px; background-color: #a8dadc" class="circle"></div>
        <div style="z-index: 80; translate: -15px; background-color: #457b9d" class="circle"></div>
        <div style="z-index: 90; translate: -20px; background-color: #1d3557" class="circle"></div>
      </div>
      <div>
        <a style="color: white" href="#">View Patients</a>
      </div>
    </div>
    <div class="border-white" id="stat1" style="display: flex; flex-direction: column; align-items: center; padding: 0 20%" >
      <p>Gender</p>

      <app-pie-chart></app-pie-chart>
    </div>

    <div class="border-white" id="stat2" style="display: flex; align-items: center; justify-content: center">
      <app-bar-chart></app-bar-chart>
    </div>

  </div>
  <div class="childContainer">
    <div class="border-white" id="stat3" style="display: flex; align-items: center; justify-content: center">
      <app-line-chart></app-line-chart>
    </div>
    <div class="border-white" id="stat4" style="display: flex; align-items: center; justify-content: center">
      <app-custom-line-chart></app-custom-line-chart>
    </div>

  </div>
</div>


<router-outlet />
